<form>
  <div class="form-horizontal col-md-8">
    <div class="form-group row">
      <label for="addTask" class="col-md-2 col-form-label">Task:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="addTask">
      </div>
    </div>
    <div class="form-group row">
      <label for="addPriority" class="col-md-2 col-form-label">Priority:</label>
      <div class="col-md-6">
        <input type="range" class="form-control-range" min="0" max="30" step="1" id="addPriority">
      </div>
    </div>
    <div class="form-group row">
      <label for="addParentTask" class="col-md-2 col-form-label">Parent Task:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="addParentTask">
      </div>
    </div>
    <div class="form-group row">
      <label for="addStartDate" class="col-md-2 col-form-label">Start Date:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="addStartDate">
      </div>
    </div>
    <div class="form-group row">
      <label for="addEndDate" class="col-md-2 col-form-label">End Date</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="addEndDate">
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-2 col-md-6 pl-2">
        <!--<input id="signupButton" type="submit" value="Signup" class="btn btn-info btn-sm" />-->
        <button type="submit" class="btn btn-primary" id="btnAddTask">Add Task</button>
        <button type="submit" class="btn btn-primary" id="btnResetTask">Reset Task</button>
      </div>
    </div>
  </div>
</form>